pkgbase = wizard
	pkgdesc = One line. Your sovereign agent. Self-extending. Bring any model
	pkgver = 3.0.1
	pkgrel = 1
	url = https://github.com/teddytennant/wizard
	arch = x86_64
	arch = aarch64
	license = MIT AND Apache-2.0
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	options = !lto
	source = wizard-3.0.1.tar.gz::https://github.com/teddytennant/wizard/archive/refs/tags/v3.0.1.tar.gz
	sha256sums = afdcbc3d9e607b77d4eb5e590c4295825a136e9f174a63be636df3444c92c7e9

pkgname = wizard
