pkgbase = wizard
	pkgdesc = One line. Your sovereign agent. Self-extending. Bring any model
	pkgver = 3.1.0
	pkgrel = 1
	url = https://github.com/teddytennant/wizard
	arch = x86_64
	arch = aarch64
	license = MIT AND Apache-2.0
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	options = !lto
	source = wizard-3.1.0.tar.gz::https://github.com/teddytennant/wizard/archive/refs/tags/v3.1.0.tar.gz
	sha256sums = 5fec9de88a146ebbe8c98fe34a466a0518ea02e5217e2ee275c0cd90619302f6

pkgname = wizard
