pkgbase = wizard
	pkgdesc = One line. Your sovereign agent. Self-extending. Bring any model
	pkgver = 3.8.1
	pkgrel = 1
	url = https://github.com/teddytennant/wizard
	arch = x86_64
	arch = aarch64
	license = MIT AND Apache-2.0
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	options = !lto
	source = wizard-3.8.1.tar.gz::https://github.com/teddytennant/wizard/archive/refs/tags/v3.8.1.tar.gz
	sha256sums = 62a6a3ec71df3a0e8d3425aaa489fb08dd8a87b48ad431036d23e116ba3b321d

pkgname = wizard
