pkgbase = wizard-bin
	pkgdesc = One line. Your sovereign agent. Self-extending. Bring any model
	pkgver = 3.2.5
	pkgrel = 1
	url = https://github.com/teddytennant/wizard
	arch = x86_64
	arch = aarch64
	license = MIT AND Apache-2.0
	depends = gcc-libs
	depends = glibc
	provides = wizard
	conflicts = wizard
	options = !debug
	options = !strip
	source = LICENSE-MIT-3.2.5::https://github.com/teddytennant/wizard/raw/v3.2.5/LICENSE-MIT
	sha256sums = 74b073d5ef3b24eb791fccbded9fceffb34bc4dabc37fb0a0e2613fc6b705477
	source_x86_64 = wizard-bin-3.2.5-x86_64.tar.gz::https://github.com/teddytennant/wizard/releases/download/v3.2.5/wizard-x86_64-unknown-linux-gnu.tar.gz
	sha256sums_x86_64 = d1d1b7adb673a4416b2c7cf31dc1f8542f3d481a8fe0c5fdd8b16739dc270557
	source_aarch64 = wizard-bin-3.2.5-aarch64.tar.gz::https://github.com/teddytennant/wizard/releases/download/v3.2.5/wizard-aarch64-unknown-linux-gnu.tar.gz
	sha256sums_aarch64 = d60b36c01f7698b6bb073e7bfb1dfd55ea0fa99a108ddbc9cea75ff179660b4d

pkgname = wizard-bin
